<section id="nickname-section">
  
  Olá <span data-testid="online-user" id="online-user"></span>!
  Deseja alterar o seu nick?
  <form id="nickname-form">
    <input
      id="nickname-box"
      autocomplete="off"
      data-testid="nickname-box"
    >
    <button id="nickname-button" data-testid="nickname-button">Alterar</button>
  </form>
</section>