<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web chat</title>
</head>

<body>
  <ul class="online-user-list"></ul>


  <form action="" class="nickname-form">
    <input type="text" placeholder="nickname" data-testid="nickname-box" class="nickname-input">
    <button type="submit" data-testid="nickname-button">Salvar</button>
  </form>

  <form action="" class="new-message-form">
    <input type="text" placeholder="message" data-testid="message-box" class="message-input">
    <button data-testid="send-button" type="submit">Enviar</button>
  </form>

  <ul class="list-message"></ul>

  <script src="/socket.io/socket.io.js"></script>
  <script src="../scripts/webchat.js"></script>
</body>

</html>