<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" type="text/css" href="./css/webChat.css" media="screen" />
  </head>
  <body>
    <fieldset class="nick">
      <span id="user">Welcome to Trybe WebChat! Your nickname is </span>
      <div>
        <input
          data-testid="nickname-box"
          id="nickInput"
          type="text"
          placeholder="Change your nickname"
        >
        <button
          id="nickBtn"
          data-testid="nickname-button"
        >
        Submit
        </button>
      </div>
    </fieldset>
    <ul class="messages" id="messages"></ul>
    <form class="form" id="form" action="">
      <input
        class="input"
        id="input"
        autocomplete="off"
        data-testid="message-box"
      />
      <button data-testid="send-button">Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src='./js/webChat.js'></script>
  </body>
</html>