* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 13px;
  background-color: #2d0922;
  /* font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif; */
  font-family: monospace;
}

form {
  background: black;
  bottom: 0;
  padding: 3px;
  position: fixed;
  width: 100%;
}

.btn-msg {
  background: rgb(130, 224, 255);
  border-bottom-style: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 9%;
}

.btn-nickName {
  background: #2d0922;
  color:#335e8d;
  font-family: monospace;
  border-bottom-style: none;
  border: none;
  cursor: pointer;
  width: fit-content;
  color: #4b890a;
  font-weight: bold;
  color: '#bd9b04';
  font-size: 20px;
}

/* .btn-nickName {
  background: rgb(255, 255, 255);
  color:#335e8d;
  font-family: monospace;
  border-bottom-style: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  width: fit-content;
  color: #4b890a;
} */

.clients li {
  font-weight: bold;
  list-style-type: none;
  padding: 5px 10px;
  width: 30%;
}

.mensagem li {
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
}

/* .mensagem li:nth-child( odd ) {
  background: rgb(112, 112, 112);
} */

.form-msg input {
  border: 0;
  margin-right: 0.5%;
  padding: 10px;
  width: 90%;
}

.box-clients ul {
  font-size: 15px;
  max-height: 100px;
  height: 15%;
  /* min-height: 100px; */
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  /* column-count: 2; */
  /* column-gap: 40px;
  column-rule-style: solid; */
}

.box-clients li {
  display: inline-block; /*necessary*/
  width: 180px;
  border: none;
  color: #4b890a;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  border-radius: 50px;
}

.box-message ul {
  font-size: 15px;
  max-height: 100%;
  min-height: 100px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.box-message li {
  width:100%;
  border: none;
  color: white;
  padding: 5px;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50px;
}

.chat-title {
  font-weight: bold;
  color: white;
}

.title1 {
  color: white;
}

.title2 {
  color: #4b890a;
}

.nickName {
  border-style: none;
  display:inline-block;
  color: #335a9e;
  background-color: #2d0922;
  border: 0px solid #2d0922;
  font-family: monospace;
  font-weight: bold;
  color: '#bd9b04';
  font-size: 20px;
  outline: none;
  width: fit-content;
}

p.label-nickname1 {
  display:inline-block;
  font-weight: bold;
  color: '#bd9b04';
  font-size: 20px;
  color: #4b890a;
  margin: 0 0 0 0;
  padding: 0;
}

p.label-nickname2 {
  display:inline-block;
  font-weight: bold;
  color: '#bd9b04';
  font-size: 20px;
  color: white;
  margin: 0 0 0 0;
  padding: 0;
}

p.label-nickname3 {
  display:inline-block;
  font-weight: bold;
  color: '#bd9b04';
  font-size: 20px;
  color: #335a9e;
  margin: 0 0 0 0;
  padding: 0;
}

p.label-nickname4 {
  display:inline-block;
  font-weight: bold;
  color: '#bd9b04';
  font-size: 20px;
  color: white;
  margin: 0 0 0 0;
  padding: 0;
}