<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://localhost:3000/assets/chatStyle.css">
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <title>Web-chat Trybe</title>
</head>
<body>
  <h1>Tryber Chat</h1>
  <ul id="messages"></ul>
  <form action="">
    <input id="messageInput" autocomplete="off" /><button>Enviar</button>
  </form>
  <script src="http://localhost:3000/assets/client.js"></script>
</body>
</html>