<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="chat.css" />
    
    <title>webchat</title>
  </head>
  <body class="main">
    
    <section class="container">
      <div class="users-container">
        <div>
          <label for="nickname-box">
            <input
              id="nickname-box"
              data-testid="nickname-box"
              type="text"
              placeholder="Type your nickname here"
            />  
          </label>
          <button
            type="button"
            id="nickname-button"
            data-testid="nickname-button"
          >
            Save Nickname
          </button>
        </div>
        <div class="online-users">
          <h3>Usuários Online</h3>
          </ul id="users"></ul>
        </div>
      </div>
      <div class="messages-container">
        <div class="all-messages">
          <ul id="messages"></ul>
        </div>
      </div>
      <div class="type-message-container">
        <div class="type-messages">
          <label for="message-box">
            <input
              id="message-box"
              data-testid="message-box"
              type="text"
              placeholder="Type the message here"
            />
          </label>
          <button
            id="send-button"
            data-testid="send-button"
            type="button"
          >
            Send Message
          </button>
        </div>
      </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      
      const socket = io();
      
      const messageBoxList = document.getElementById('messages');
      const sendMessageBtn = document.getElementById('send-button');
      
      const insertMessage = (message) => {
        const li = document.createElement('li');
        li.innerText = message;
        li.setAttribute('data-testid', 'message');
        messageBoxList.appendChild(li);
      };
      
      sendMessageBtn.addEventListener('click', () => {
        const nick = socket.id.substr(0, 15);
        const msg = document.getElementById('message-box').value;
        socket.emit('message', { msg, nick });
        document.getElementById('message-box').value = '';
      });
      
      socket.on('message', async (message) => insertMessage(message));
      
      </script>
  </body>
</html>
