<!DOCTYPE html>
<html>
  <head>
    <title>WebChat</title>
  </head>
  <body>
    <div>
      <form id="formToChoiceNickname">
        <input type="text" placeholder="Insira seu nome" data-testid="nickname-box" id="nickname-box">
        <button type="submit" data-testid="nickname-button">Salvar</button>
      </form>
    </div>

    <div>
      <h2>Usuários Conectados</h2>
       <ul id ="usersLogged">

       </ul>
    </div>

    <div>
      <ul id="messagesList">
        <% if(oldMessages.length > 0){%>
          <% oldMessages.forEach((oldMessage) => { %>
            <li data-testid="message"><%= oldMessage %></li>
          <% }) %>
        <% }%>
      </ul>
    </div>

    <div>
      <form id="formMessages">
        <input type="text" placeholder="Messagem" data-testid="message-box" id="messageBox" >
        <button type="submit" data-testid="send-button" id="sendButton">Enviar</button>
      </form>
    </div>

 

    <script src="/socket.io/socket.io.js"></script>
    <script src='./js/chat.js'></script>


  </body>

</html>