<!DOCTYPE html>
<html>

<head>

  <title>Webchat</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>

</head>

<body>

  <div id="user-container">
    <p id="online-user" data-testid="online-user"> <%= nickname %> </p>
    <form id="nickname-form">
      <input
        required
        minlength="3"
        maxlength="16"
        type="text"
        id="nickname-box"
        data-testid="nickname-box"
        placeholder="Insert your Nickname"
      />
      <button type="submit" id="nickname-button" data-testid="nickname-button">CONFIRM</button>
    </form>
  </div>

  <ul id="chat-box"></ul>
  
  <form id="message-form">
    <textarea
        required
        id="message-box"
        data-testid="message-box"
        placeholder="Write a message"
      ></textarea>
      <button type="submit" id="send-button" data-testid="send-button">SEND</button>
    </form>

  <script>
    const socket = io();
    const nicknameForm = document.querySelector('#nickname-form');
    const messageForm = document.querySelector('#message-form');
    let nickname = 'nickname';

    const updateNickname = (nickname) => {
      const nicknameElement = document.querySelector('#online-user');
      nicknameElement.innerText = nickname;
    };

    const getTimestamp = () => {
      const actualDate = new Date();
      const day = actualDate.getDate();
      const month = (actualDate.getMonth() + 1);
      const year = actualDate.getFullYear();
      const hours = actualDate.getHours();
      const minutes = actualDate.getMinutes();
      const timestamp = `${day}-${month}-${year} ${hours}:${minutes}`;
      return timestamp;
    };

    const createMessage = ({ chatMessage, nickname }) => {
      const chatBox = document.querySelector('#chat-box');
      const chatItem = document.createElement('li');
      const timestamp = getTimestamp();
      const message = `${timestamp} - ${nickname}: ${chatMessage}`;
      chatItem.innerText = message;
      chatBox.appendChild(chatItem);
    };

    const handleNicknameChange = (e) => {
      e.preventDefault();
      const nicknameBox = document.querySelector('#nickname-box');
      nickname = nicknameBox.value;
      nicknameBox.value = '';
      updateNickname(nickname);
    };

    const handleSentMessage = (e) => {
      e.preventDefault();
      const messageBox = document.querySelector('#message-box');
      const chatMessage = messageBox.value;
      socket.emit('message', ({ chatMessage, nickname }));
      messageBox.value = '';
    };

    nicknameForm.addEventListener('submit', handleNicknameChange);
    messageForm.addEventListener('submit', handleSentMessage);


    socket.on('initialNickname', (socketId) => {
      const initialNickname = socketId.substring(0, socketId.length - 4);
      nickname = initialNickname;
      updateNickname(nickname);
    });

    socket.on('sendMessage', ({ chatMessage, nickname }) => createMessage({ chatMessage, nickname }));
  </script>

</body>

</html>