<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="chat.css" />
    <script src="/socket.io/socket.io.js"></script>
    <title>webchat</title>
  </head>
  <body class="main">
    <script>
      

      const sendMessage = () => {
        const message = document.querySelector('#message-box').value;
        socket.emit('webchat', message);
        document.querySelector('#message-box').value = '';
      };


      const socket = io();

      socket.on('webchat', (message) => {
        const li = document.createElement('li');
        li.innerText = message;
        document.querySelector('#messages').appendChild(li);
      });
    </script>
    <section class="container">
      <div class="users-container">
        <div>
          <label for="nickname-box">
            <input
              id="nickname-box"
              data-testid="nickname-box"
              type="text"
              placeholder="Type your nickname here"
            />  
          </label>
          <button
            type="button"
            id="nickname-button"
            data-testid="nickname-button"
          >
            Save Nickname
          </button>
        </div>
        <div class="users">
          <h3>Usuários Online</h3>
          </ul id="online-users"></ul>
        </div>
      </div>
      <div class="messages-container">
        <div class="messages">
          <ul id="messages"></ul>
        </div>
      </div>
      <div class="type-message-container">
        <div class="type-messages">
          <label for="message-box">
            <input
              id="message-box"
              data-testid="message-box"
              type="text"
              placeholder="Type the message here"
            />
          </label>
          <button
            id="send-button"
            data-testid="send-button"
            type="submit"
            onclick="sendMessage()"
          >
            Send Message
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
