<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://localhost:3000/assets/chatStyle.css">
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <title>Web-chat Trybe</title>
</head>
<body>
  <main>
    <header>
      <h1>Tryber Chat</h1>
    </header>
    <aside>
      <form action="">
        <input id="nick-input" data-testid="nickname-box" placeholder="Insira aqui seu nickname" /><button id="btn-nick" data-testid="nickname-button">Salvar</button>
      </form>
    </aside>
    <div class="list-users">
      <ul></ul>
    </div>
    <div class="chat">
      <ul class="messages"></ul>
    </div>
    <footer>
      <form action="">
        <input data-testid="message-box" id="msg-input" placeholder="Digite um nova mensagem aqui"/><button data-testid="send-button" id="btn-send">Enviar</button>
      </form>
    </footer>
  </main>
  <script src="http://localhost:3000/assets/client.js"></script>
</body>
</html>