<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://localhost:3000/assets/chatStyle.css">
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <title>Web-chat Trybe</title>
</head>
<body>
  <div class="container">
    <header>
      <div class="title-container">
        <h1>Trybe Chat</h1>
      </div>
    </header>
    <aside>
      <div class="nickname-container">
        <form>
          <input id="nick-input" data-testid="nickname-box" placeholder="Insira aqui seu nickname">
          <button id="btn-nick" data-testid="nickname-button">Salvar</button>
        </form>
      </div>

      <div class="list-container">
        <ul class="list-users"></ul>
      </div>
    </aside>
    <main>
      <div class="messages-container">
        <ul class="list-messages">
          <% messages.forEach(m => { %>
            <li data-testid="message"><%= `${m.timestamp} - ${m.nickname}: ${m.message}`%></li>
          <% }) %>
        </ul>
      </div>
    </main>
    <section>
      <div class="chat-container">
        <form class="form-container">
          <input id="msg-input" data-testid="message-box" placeholder="Digite um nova mensagem aqui">
          <button id="btn-send" data-testid="send-button">Enviar</button>
        </form>
      </div>
    </section>
  </div>
  <script src="http://localhost:3000/assets/client.js"></script>
</body>
</html>