<!DOCTYPE html>
<html>
  <head>
    <title>WebChat</title>
  </head>
  <body>
    <ul>
      <% oldMessages.forEach((oldMessage) => { %>
        <li><%= oldMessage %></li>
      <% }) %>
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src='./js/chat.js'></script>


  </body>

</html>