<h1 id="user" data-testid="online-user"></h1>
<form>
  <input type="text">
  <input type="text">
  <button type="submit">Enviar</button>
</form>

<script src="./scripts/views/formToMessage.js" defer></script>