<h1 id="user" data-testid="online-user"></h1>
<form>
  <input type="text" data-testid="nickname-box">
  <input type="text" data-testid="message-box">
  <button type="submit" data-testid="send-button">Enviar</button>
</form>

<script src="./scripts/views/formToMessage.js" defer></script>