<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='socket.io/socket.io.js'></script>
  <title>Chat</title>
</head>

<body>
  <h1>Bem vindo ao chat</h1>
  <input id="nick-name" type="text" data-testid="nickname-box" />
  <button id="nick-name_button" data-testid="nickname-button" type="button">Alterar Nickname</button>
  <ul id='users-list'></ul>

  <ul id="messages">
    <% chatMessages.forEach((chat)=> { %>
      <li>
        <%= `${chat.timestamp} - ${chat.nickname}: ${chat.message}` %>
      </li>
      <% }) %>

  </ul>

  <form action="">
    <input id="message-input" autocomplete="off" data-testid="message-box" />
    <button data-testid="send-button">Send</button>
  </form>


  <script src='index.js'> </script>

</body>

</html>