<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>webchat</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <ul class='messages'></ul>
  <input type="text" id="message-input">
  <button class='sendButton'>Enviar</button>
  <script src="/script.js"></script>
</body>
</html> 