<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Chat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/index.css" />
    <!-- <script
      src="https://cdn.socket.io/4.3.2/socket.io.min.js"
      integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
      crossorigin="anonymous"
    ></script>
    <script>
      const socket = io();
    </script> -->
  </head>
  <body>
    <section class="main">
      <div class="side-bar"></div>
      <div class="chat-container">
        <ul class="chat-messages" id="chat-messages"></ul>
        <form class="chat-message-form" action="">
          <input type="text" id="input-message" />
          <button>Enviar</button>
        </form>
      </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/chat.js"></script>
  </body>
</html>
