<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Chat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <section class="main">
      <div class="side-bar">
        <form action="" class="nickname-form" id="nickname-form">
          <input
            type="text"
            id="nickname-input"
            data-testid="nickname-box"
            placeholder="Digite seu novo nickname..."
            required
          />
          <button id="change-nickname-btn" data-testid="nickname-button">
            Confirmar
          </button>
        </form>
      </div>
      <div class="chat-container">
        <div>
          <p>Olá, <span id="nickname" data-testid="online-user"></span>.</p>
        </div>
        <ul class="chat-messages" id="chat-messages">
          <% messages.forEach(({ nickname, message, timestamp }) => { %>
          <li data-testid="message"><%= timestamp %> - <%= nickname %>: <%= message %></li>
          <% }) %>
        </ul>
        <form
          class="chat-message-form"
          id="chat-message-form"
          action=""
        >
          <input id="input-message" data-testid="message-box" required />
          <button id="submit-message" data-testid="send-button">Enviar</button>
        </form>
      </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/chat.js"></script>
  </body>
</html>
