<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>webchat</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <section>Usuários online:
    <ul id="online-users">
      <% clients.forEach(({ id, nickname }) => { %>
        <li id="<%= id %>" data-testid="online-user"><%= nickname || id %></li>
      <% }) %>
    </ul>
    <input type="text" id="nickname-input" data-testid="nickname-box">
    <button id='nickname-button' data-testid="nickname-button">Mudar</button>
  </section>
  <section>Mensagens
    <ul id='messages'>
      <% messages.forEach(({ id, message, nickname, timestamp }) => { %>
        <li data-testid="message"><%= `${timestamp} - ${nickname}: ${message}` %></li>
      <% }) %>
    </ul>
    <input type="text" id="message-input" data-testid="message-box" >
    <button id='send-button' data-testid="send-button">Enviar</button>
  </section>
  <script src="/script.js"></script>
</body>
</html>