<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebChat</title>
</head>
<body>
  <h2>Send messages</h2>
  <p>Nickname: <span id="nickname" data-testid="online-user"><%= randomNickname %></span></p>
  <form id="change-nick-form" action="">
    <input id="nick-input" type="text" data-testid="nickname-box">
    <button type="submit" data-testid="nickname-button">Change Nickname</button>
  </form>

  <ul id="messages-list">
    <% messages.forEach((message) => { %>
      <% const formattedMessage = `(${message.timestamp}) ${message.nickname}: ${message.message}`  %>
      <li data-testid="message"><%= formattedMessage %></li>
    <% }); %>
  </ul>
  <form id="message-form" action="">
    <input id="message-input" type="text" data-testid="message-box">
    <button type="submit" data-testid="send-button">Send</button>
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/messages.js"></script>  
</body>
</html>