<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <title>Web Chat</title>
</head>
<body>
  <h1>Bem vindo ao nosso chat</h1>
  <main>
    <div class="participants">
      <header><h2>Participantes do grupo</h2></header>
      <div>
        <h3 id="username-name" data-testid="online-user"><%=username%></h3>
      </div>
      <div class="write-name">
        <form id="user">
          <input type="text" name="userName" class="form" placeholder="Nome" id="user-name" data-testid="nickname-box">
          <button id="user-btn" type="submit" data-testid="nickname-button">Enviar</button>
        </form>
      </div>
      <div class="participants-list"></div>
    </div>
    <div class="chat-frame">
      <header><h2>Conversa</h2></header>
      <div class="chat"></div>
      <div class="write">
        <form id="message">
          <input type="text" name="message" id="messageInput" placeholder="Mensagem" data-testid="message-box">
          <button id="message-btn" type="submit" data-testid="send-button">Enviar</button>
        </form>
      </div>
    </div>
  </main>
  <script>
    const socket = io('http://localhost:3000');
    
    const userForm = document.getElementById('user');
    const message = document.getElementById('message');
    const messageInput = document.getElementById('messageInput');
    const username = document.getElementById('username-name');
    const chat = document.querySelector('.chat')

    const updateusername = (data) => {
      username.innerHTML = data;
    }

    userForm.addEventListener('submit', (event) => {
      event.preventDefault();
      const newUsername = event.target[0].value;
      socket.emit('updateUsername', newUsername);
      updateusername(newUsername);
    });

    message.addEventListener('submit', (event) => {
      event.preventDefault();
      const date = new Date();
      const message = {
        chatMessage: event.target[0].value,
        nickname: username.innerHTML,
        timestamp: `${date.getDay()}-${date.getMonth()}-${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`,
      }
      socket.emit('message', message);
      messageInput.value = ''
    });

    const createMessage = (input) => {
      const clientMessage = document.createElement('p');
      clientMessage.innerHTML = `<p data-testid = "message">${input}</p>`;
      chat.appendChild(clientMessage);
    }

    socket.on('message', (message) => {
      createMessage(message);
    })
  </script>
</body>
</html>
