<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <title>Web Chat</title>
</head>
<body>
  <h1>Bem vindo ao nosso chat</h1>
  <main>
    <div class="participants">
      <header><h2>Participantes do grupo</h2></header>
      <div>
        <h3 id="username-name"></h3>
      </div>
      <div class="write-name">
        <form id="user">
          <input type="text" name="userName" class="form" placeholder="Nome" id="user-name" data-testid="nickname-box">
          <button id="user-btn" type="submit" data-testid="nickname-button">Enviar</button>
        </form>
      </div>
      <div class="participants-list"></div>
    </div>
    <div class="chat-frame">
      <header><h2>Conversa</h2></header>
      <div class="chat">
        <% if(messages) {
          messages.forEach(({ nickname, chatMessage, timestamp }) => { %>
            <p data-testid = "message"><%=`${nickname}@${timestamp}: ${chatMessage}`%></p>
        <% });
        }; %>
      </div>
      <div class="write">
        <form id="message">
          <input type="text" name="message" id="messageInput" placeholder="Mensagem" data-testid="message-box">
          <button id="message-btn" type="submit" data-testid="send-button">Enviar</button>
        </form>
      </div>
    </div>
  </main>
  <script>
    const socket = io('http://localhost:3000');
    
    const userForm = document.getElementById('user');
    const message = document.getElementById('message');
    const messageInput = document.getElementById('messageInput');
    const usernameTag = document.getElementById('username-name');
    const chat = document.querySelector('.chat')
    const participantList = document.querySelector('.participants-list');

    const updateusername = (data) => {
      usernameTag.innerHTML = data;
    }

    userForm.addEventListener('submit', (event) => {
      event.preventDefault();
      const newUsername = event.target[0].value;
      const userId = sessionStorage.getItem('userId')
      const updateUser = { newUsername, userId }
      socket.emit('updateUsername', updateUser);
      updateusername(newUsername);
    });

    message.addEventListener('submit', (event) => {
      event.preventDefault();
      const date = new Date();
      const message = {
        chatMessage: event.target[0].value,
        nickname: usernameTag.innerHTML,
        timestamp: `${date.getDay()}-${date.getMonth()}-${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`,
      }
      socket.emit('message', message);
      messageInput.value = ''
    });

    const createMessage = (input) => {
      const clientMessage = document.createElement('p');
      clientMessage.innerHTML = `<p data-testid = "message">${input}</p>`;
      chat.appendChild(clientMessage);
    }

    const createUser = (userList) => {
      const onlineUsers = document.querySelectorAll('.online-user');
      onlineUsers.forEach((user) => {
        user.remove();
      });
      userList.forEach((user) => {
        const newUser = document.createElement('div');
        newUser.className = 'online-user';
        newUser.innerHTML = `<p data-testid="online-user">${user.nickname}</p>`;
        participantList.appendChild(newUser);
      });
    };

    socket.on('message', (message) => {
      createMessage(message);
    });

    socket.on('usernameList', (userList) => {
      createUser(userList);
    });

    socket.on('login', ({ userList, userId, username }) => {
      sessionStorage.setItem('userId', userId.id);
      usernameTag.innerText = username;
      createUser(userList);
    });
  </script>
</body>
</html>
