<link rel="stylesheet" href="./styles/messagesDisplay.css">
<div class="messagesContainer">
  <div id="messagesDisplay"></div>
</div>

<script src="./scripts/views/messagesDisplay.js" defer></script>
