<link rel="stylesheet" href="./styles/onlineUsers.css">

<button class="btnOnlineUsers">
  <i class="fas fa-users"></i>
  Pessoas online
</button>
<div class="online-users">
  <button class="btnHideOnlineUsers">
    <i class="fas fa-angle-double-right"></i>
  </button>
  <div class="users"></div>
</div>

<script src="./scripts/views/onlineUsers.js" defer></script>
