html , body {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.chat {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

input {
  border: 1px solid rgb(80, 119, 224);
  font-size: 14px;
  height: 50px;
  padding: 0 20px;
  width: 600px;
}

button {
  background: #069;
  color: white;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  text-align: center;
  width: 600px;
}

.messages {
  border: 1px solid rgb(61, 84, 209);
  height: 400px;
  margin: 20px 0;
  padding: 20px;
  width: 600px;
}

li {
  list-style: none;
}
