<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebChat</title>
</head>
<body>
  <h2>Send messages</h2>
  <form id="message-form" action="">
    <input id="message-input" type="text">
    <input type="submit">
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    
    const form = document.getElementById('message-form');

    form.addEventListener('submit', (e) => {
      e.preventDefault();

      const msgInput = document.getElementById('message-input');

      socket.emit('message', {
        chatMessage: msgInput.value,
        nickName: 'abc',
      })
    });

    socket.on('message', (message) => {
      console.log(`Mensagem recebida: ${message}`);
    })
  </script>  
</body>
</html>