<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="socket.io/socket.io.js"></script>
  <title>WebChat</title>
</head>

<body>
  <h1>webchat</h1>
  <label for="nickname"> Digite seu apelido!
    <input type="text" id="nickname-box" data-testid="nickname-box"/>
  </label>
  <button id="nickname-button" data-testid="nickname-button">Enviar</button>


  <ul id="users">
  </ul>

  <input data-testid="message-box" type="text" id="message">
  <button data-testid="send-button" id="send-btn">Enviar</button>

  <ul id="list">
  </ul>


  <script src="./script.js"></script>
</body>

</html>