<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebChat</title>
</head>
<body>
  <h1>WebChat</h1>
  <input 
    type="text" 
    placeholder="Insira seu nickname"
    data-testid="nickname-box"
  >
  <button 
    type="submit"
    data-testid="nickname-button"
  >Salvar</button>
  <ul id="usersOnline"></ul>
  <ul id="messages"></ul>
  <input 
    type="text" 
    placeholder="Digite sua mensagem aqui"
    data-testid="message-box"
  >
  <button 
    type="submit"
    data-testid="send-button"
  >Enviar</button>
  <script src="/socket.io/socket.io.js"></script>
  <script src="./client.js"></script>
</body>
</html>