<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebChat</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <header>
    <h1>WebChat</h1>
  </header>
  <br />
  <form>
    <input data-testid='nickname-box' id="nameBox" placeholder="Nickname" />
    <button data-testid='nickname-button' id='changeNameBtn' type="button">Change Name</button>
  </form>
  <ul id="messageList">
    <% messages.forEach((msg) => { %>
      <li><%= `${msg.timestamp} - ${msg.nickname}: ${msg.message}` %></li>
    <% }) %>
  </ul>
  <form>
    <input data-testid='message-box' id='messageBox' placeholder="Message"/>
    <button data-testid='send-button' id='sendButton' type="button" >Enviar</button>
  </form>
  <h3 id="myNickName" data-testid="online-user"></h3>
  <h2>Online Friends:</h2>
  <ul id="onlineContainer">
  </ul>
</body>
</html>

<script>
  const client = window.io();

  const insertMessage = (message) => {
    const messageList = document.querySelector('#messageList');
    const li = document.createElement('li');
    li.setAttribute('data-testid', 'message');
    li.innerText = message;
    messageList.appendChild(li);
  }

  client.on('getAllMessages', (message) => {
    message.foreach((msg) => {
      insertMessage(message);
    });
  });

  client.on('message', (message) => {
    insertMessage(message);
  });

  client.on('connection', (clientId) => {
    if (sessionStorage.getItem('webChatNickname')) {
      document.querySelector('#myNickName').innerText = sessionStorage
        .getItem('webChatNickname');
    } else {
      document.querySelector('#myNickName').innerText = clientId;
    }
  });

  // client.on('usuarios', (usuarios) => {
  //   usuarios.forEach((usuario) => {
  //     const li = document.createElement('li');
  //     li.innerText = usuario;
  //     document.querySelector('#onlineContainer').appendChild(li);
  //   });
  // });

  document.querySelector('#changeNameBtn').addEventListener('click', () => {
    newName = document.querySelector('#nameBox').value;
    document.querySelector('#myNickName').innerText = newName;
    sessionStorage.setItem('webChatNickname', newName);
    document.querySelector('#nameBox').value = '';
  });

  document.querySelector('#sendButton').addEventListener('click', () => {
    const msg = document.querySelector('#messageBox').value;
    const myClient = document.querySelector('#myNickName').innerText;
    client.emit('message', { chatMessage: msg, nickname: myClient });
    document.querySelector('#messageBox').value = '';
  });
</script>
