body {
  flex-direction: column;
}

.middle-items {
  flex-flow: row wrap;
  align-items: center;
}

.side-intems {
  flex-flow: column wrap; 
}

.user-list {
  height: 60px;
  width: 80px;
  background-color: beige;
}

.chat {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

.chat li {
  padding: 5px 10px;
}

.chat li:nth-child( odd ) {
  background: rgb(102, 80, 101);
}
