* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 16px Helvetica, Arial, sans-serif;
}

li {
  list-style: none;
  margin: 5px;
  padding: 5px 10px;
}

input {
  margin: 4px;
}

.online {
  border: 2px solid black;
  margin: 2px;
  width: 20%;
}

.messages {
  border: 2px solid black;
  height: 500px;
  margin: 2px;
  overflow-y: scroll;
  width: 80%;
}

.messages li:nth-child( odd ) {
  background: #eee;
}

.onlineUsers {
  color: green;
}

.message {
  width: 95%;
}

.container {
  display: flex;
}
