body {
  align-items: center;
  flex-direction: column;
}

h1 {
  align-self: center;
  background-color: azure;
  margin: 1%;
  padding: 1%;
  width: 100%;
}

.middle-items {
  align-content: center;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
  width: 100%;
}

.side-intems {
  align-items: center;
  background-color: brown;
  border: 1px solid black;
  flex-flow: column wrap;
  margin: 5px;
  padding: 5px;
  width: 30%;
}

.user-list {
  background-color: beige;
  margin: 5px;
  padding: 5px;
}

.nickname-form {
  border: 1px solid black;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

.form-msg {
  bottom: 0%;
}

.msgInput {
  width: 90%;
}

.sendButton {
  width: 8%;
}

.chat {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  width: 70%;
}

.chat li {
  padding: 5px 10px;
}

.chat li:nth-child( odd ) {
  background: rgb(102, 80, 101);
}
