* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
}

.main .side-bar {
  background: #f3ffee;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.25);
  padding: 10px;
  width: 300px;
  z-index: 10;
}

.nickname-form {
  display: flex;
  flex-direction: column;
}

.main .nickname-form button , .main .nickname-form input {
  padding: 5px 10px;
}

.main .nickname-form input {
  outline: none;
}

.main .nickname-form button {
  align-self: center;
  background: #06f;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  margin: 5px 0;
  transition: all 0.3s ease;
}

.main .nickname-form button:hover {
  background: rgba(0, 102, 255, 0.8);
}

.main .chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main .chat-container div {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 0;
}

.main .chat-container .chat-messages {
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  list-style: none;
  padding: 10px;
}

.main .chat-container .chat-messages .nickname {
  font-weight: 600;
}

.main .chat-container .chat-message-form {
  background: white;
  -webkit-box-pack: space-evenly;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: space-evenly;
  height: 30px;
  justify-content: space-evenly;
}

.main .chat-container .chat-message-form input {
  align-self: stretch;
  border: 2px solid rgba(0, 0, 0, 0.25);
  flex: 1;
  outline: none;
  padding: 5px;
}

.main .chat-container .chat-message-form button {
  align-self: stretch;
  margin: 0 5px;
  padding: 4px 10px;
}
