* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 13px;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

form {
  background: black;
  bottom: 0;
  padding: 3px;
  position: fixed;
  width: 100%;
}

#form-msg input {
  /* border: 0; */
  margin-right: 0.5%;
  padding: 10px;
  width: 90%;
}

#btn-msg {
  background: rgb(130, 224, 255);
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 9%;
}

#clients li {
  list-style-type: none;
  padding: 5px 10px;
}

#clients li:nth-child( odd ) {
  background: rgb(157, 211, 140);
}

#box-clients ul {
  border: 1px solid #666;
  min-height: 200px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  width: 80%;
}

#mensagem li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 5px 10px;
}

#mensagem li:nth-child( odd ) {
  background: rgb(252, 131, 131);
}

#box-message ul {
  border: 1px solid rgb(158, 152, 196);
  min-height: 200px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  width: 80%;
}
