* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 13px;
  background-color: #2d0922;
  font-family: monospace;
}

.title1 {
  font-weight: bold;
  color: white;
  display:inline;

}

.title2 {
  color: #4b890a;
  font-weight: bold;
  display:inline;
}

.usersCount {
  color: #4b890a;
  font-weight: bold;
  display:inline;
}

p.label-nickname1 {
  display:inline-block;
  font-weight: bold;
  color: '#bd9b04';
  font-size: 20px;
  color: #4b890a;
  margin: 0 0 0 0;
  padding: 0;
}

p.label-nickname2 {
  display:inline-block;
  font-weight: bold;
  color: '#bd9b04';
  font-size: 20px;
  color: white;
  margin: 0 0 0 0;
  padding: 0;
}

p.label-nickname3 {
  display:inline-block;
  font-weight: bold;
  color: '#bd9b04';
  font-size: 20px;
  color: #335a9e;
  margin: 0 0 0 0;
  padding: 0;
}

p.label-nickname4 {
  display:inline-block;
  font-weight: bold;
  color: '#bd9b04';
  font-size: 20px;
  color: white;
  margin: 0 0 0 0;
  padding: 0;
}
