* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2d0922;
  font: 13px;
  font-family: monospace;
}

.title1, 
.title2, 
.usersCount {
  display: inline;
  font-weight: bold;
}

.title1 {
  color: white;
}

.title2 {
  color: #4b890a;
}

.usersCount {
  color: #4b890a;
}

.label-nickname1, 
.label-nickname2, 
.label-nickname3, 
.label-nickname4 {
  display: inline;
  font-size: 20px;
  font-weight: bold;
}

.label-nickname1 {
  color: #4b890a;
}

.label-nickname2 {
  color: white;
}

.label-nickname3 {
  color: #335a9e;
}

.label-nickname4 {
  color: white;
}
