<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat - Socket.IO</title>
    <link rel="stylesheet" href="./css/chat.css" />
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="">
      <input
        autocomplete="off"
        data-testid="message-box"
        id="messageInput"
        name="message-box"
        placeholder="Digite aqui a sua mensagem"
        type="text"
      />
      <button data-testid="send-button" name="send-button" type="submit">
        Enviar
      </button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/chat.js"></script>
  </body>
</html>
