.header {
  height: fit-content;
  margin: 10px 0 0 10px;
  width: 100%;  
}

.liClient {
  border: none;
  border-radius: 50px;
  color: #4b890a;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  list-style-type: none;
  margin: 4px 2px;
  width: 180px;
  text-align: center;
  text-decoration: none;
}

.clients{
  font-size: 15px;
  max-height: 110px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.btn-txt1 {
  color: #4b890a;
}

.btn-txt2 {
  color: white;
}

.btn-txt3 {
  color: #335a9e;
}

.btn-txt4 {
  color: white;
}

.btn-txt1, .btn-txt2, .btn-txt3, .btn-txt4, .btn-nickName, .nickName
{
  display:inline;
  font-size: 15px;
  font-family: monospace;
  font-weight: bold;
}

::placeholder {
  color: #335a9e;
  opacity: 1;
}

.nickName {
  background-color: #2d0922;
  border-style: none;
  color: white;
  outline: none;
  width: fit-content;
}

.btn-nickName {
  background: #2d0922;
  border: none;
  border-bottom-style: none;
  color: #4b890a;
  cursor: pointer;
  width: fit-content;
}