.header {
  margin: 10px;
  width: 100%;
}

.liClient {
  border: none;
  border-radius: 50px;
  color: #4b890a;
  display: inline-block;
  font-size: 15px;
  font-weight: 900;
  list-style-type: none;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  width: 180px;
}

.clients {
  font-size: 15px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

@media screen and ( max-width : 600px ) {
  .clients {
    max-height: 60px;
  }
}

.btn-txt1 {
  color: #4b890a;
}

.btn-txt2 {
  color: white;
}

.btn-txt3 {
  color: #335a9e;
}

.btn-txt4 {
  color: white;
}

.btn-txt1 , .btn-txt2 , .btn-txt3 , .btn-txt4 , .btn-nickName , .nickName {
  display: inline;
  font-family: monospace;
  font-size: 15px;
  font-weight: 900;
}

::placeholder {
  color: #335a9e;
  opacity: 1;
}

.nickName {
  background-color: #2d0922;
  border-style: none;
  color: white;
  outline: none;
  width: fit-content;
}

.btn-nickName {
  background: #2d0922;
  border: none;
  border-bottom-style: none;
  color: #4b890a;
  cursor: pointer;
  width: fit-content;
}

@media screen and (
  max-width : 600px
  ) {
  .liClient , .clients , .btn-txt1 , .btn-txt2 ,
   .btn-txt3 , .btn-txt4 , .btn-nickName , .nickName {
    font-size: 10px;
  }
}

