<!DOCTYPE html>
<html lang="en"></html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Chat- Trybe</title>
    <link rel="stylesheet" href="./css/chat.css">
  </head>
  <body>
    <ul id="messages"></ul>
    <li data-testid="message"></li>
    <h2 id="nickname"><%= nickname %></h2>
    <form action="">
      <input id="messageInput" data-testid="message-box" autocomplete="off" />
      <button data-testid="send-button">Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src='./js/chatClient.js'></script>
  </body>
</html>