<!DOCTYPE html>
<html lang="en"></html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Chat- Trybe</title>
    <link rel="stylesheet" href="./css/chat.css">
  </head>
  <body>
    <button id="nickNameButton" data-testid="nickname-button" onclick="changeNick()" type="button">Alterar Nick</button>
    <input id="nickNameBox" type="text"  data-testid="nickname-box" />
    <ul id="onlineUsers">
      <!-- <li id="nickName" data-testid="online-user"></li> -->
    </ul>
    <ul id="messages">
    <li data-testid="message"></li>
    </ul>
    <form action="">
      <input id="messageInput" data-testid="message-box" autocomplete="off" />
      <button data-testid="send-button">Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src='./js/chatClient.js'></script>
  </body>
</html>