body {
  background-color: #e2e2e2;
  font-family: Poppins, sans-serif;
}

h1 {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

section > h2 {
  padding: 10px;
  text-align: center;
}

section {
  border: 2px solid black;
  width: 60%;
}

aside {
  border: 2px solid black;
  width: 40%;
}

.form-message {
  bottom: 0;
  margin: auto;
  position: fixed;
  width: 100%;
}

.form-message > input {
  width: 90%;
}

.content {
  display: flex;
  justify-content: space-between;
}
