html , body {
  background-color: #130f40;
  background-image: linear-gradient(down, #130f40 0%, black 74%);
  font-family: montserrat, sans-serif;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.2rem;
  list-style: none;
}

.chatField {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.nicknameField {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.userList {
  background-color: #9500ff;
  border: #9500ff 0.125em solid;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0.5em 0 #9500ff , 0 0 0.5em 0 #9500ff;
  color: #d6d6d6;
  margin: 1rem;
  padding: 1em;
}

input {
  border-radius: 0.25em;
  font-size: 1.2em;
  height: 2.7em;
  padding: 0 20px;
  width: 600px;
}

.button {
  background-color: #9500ff;
  border: #9500ff 0.125em solid;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.5em 0 #9500ff , 0 0 0.5em 0 #9500ff;
  color: #d6d6d6;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 10px;
  padding: 0.55em 1em;
  position: relative;
  text-decoration: none;
  width: max-content;
}

.messagesField {
  background-color: #878787;
  border-radius: 0.25em;
  height: 400px;
  margin: 20px 0;
  padding: 20px;
  width: 700px;
}

