html , body {
  background-color: rgb(26, 25, 25);
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(6, 204, 194);
  font-style: italic;
  text-align: center;
}

.chat {
  align-items: center;
  color: rgb(206, 206, 206);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

input {
  border: 1px solid rgb(80, 119, 224);
  font-size: 14px;
  height: 50px;
  padding: 0 20px;
  width: 600px;
}

.nickButton {
  background: rgb(18, 133, 117);
  color: rgb(252, 255, 251);
  height: 50px;
  margin-left: 10px;
  text-align: center;
  width: 100px;
}

.buttonMessage {
  background: rgb(18, 133, 117);
  color: rgb(252, 255, 251);
  height: 50px;
  margin-left: 5px;
  text-align: center;
  width: 100px;
}

.nickForm {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.messages {
  border: 1px solid rgb(18, 133, 117);
  height: 400px;
  margin: 20px 0;
  padding: 20px;
  width: 600px;
}

.usersContainer {
  border: 1px solid rgb(18, 133, 117);
  border-radius: 5%;
  height: 200px;
  margin-top: 20px;
  text-align: center;
  width: 400px;
}

.users {
  margin-top: 20px;
}

.messagesContainer {
  overflow: scroll;
  overflow-x: hidden;
}

li {
  list-style: none;
}
