@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css') ;

html {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: #ededed;
}

.heigth {
  height: 500px;
}

.scroll {
  background-image: url('./images/background.jpg');
  max-height: 500px;
  overflow-y: scroll;
}

.color:nth-child( even ) {
  background: #ccc;
}

.color:nth-child( odd ) {
  background: white;
  border: 1px solid #dee2e6;
}

