<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://localhost:3000/socket.io/socket.io.js"></script> <!-- O pacote socket.io cria esse arq -->
  <title>Project Chat</title>
</head>
<body>
  <h1>Project Chat</h1>

  <ul id="message">
    <% notifications.forEach((notification) => { %>
      <li><%= notification %></li>
    <% }) %>
  </ul>

  <script>
    const socket = io("http://localhost:3000");

    socket.on('/message', (notification) => {
      const li = document.createElement('li');
      const liText = document.createTextNode(notification);
      li.appendChild(liText);
      document.getElementById('message').appendChild(li);
    })

  </script>
</body>
</html>