<!doctype html>
<html>
  <head>
    <title>TrybeChat</title>
    <link rel="stylesheet" type="text/css" href="./css/chat.css">
  </head>
  <body>
    <h1 class="box">TrybeChat</h1>
    <div class="first-line">
      <section id="users-container">
        <section class="forms">
          <input 
            type="text" 
            name="user-nickname" 
            id="user-nickname"
            class="box"
            placeholder="Digite seu nickname"
            data-testid="nickname-box"
          >
          <button 
            id="save-nickname"
            data-testid="nickname-button"
            type="submit"
          >Salvar</button>
        </section>
        <ul 
          id="online-users"
          class="box"
        >
        </ul>
      </section>
      <section
        id="chat-container"
        class="box"      
      >
        <p>Bem vindo! Seu nickname é 
          <span id="nickname" ></span>
        </p>
        <ul
          id="messages-container"
        >
          <% messages.forEach(({ message, nickname, timeStamp }) => { %>
            <li
              class="message"
              data-testid="message"
            ><%=`${timeStamp} - ${nickname}: ${message}`%></li>
          <% }) %>
        </ul>
      </section>
    </div>
    <form action="" class="forms">
      <input 
        type="text" 
        name="write-message" 
        id="write-message"
        placeholder="Digite uma nova mensagem aqui"
        class="box"
        data-testid="message-box"
      >
      <button 
        id="send-message"
        class="button"
        data-testid="send-button"
        type="submit"
      >Enviar</button>
    </form>

  <script src="/socket.io/socket.io.js"></script>
  <!-- script que vai conter toda lógica de conexão com socket.io -->
  <script src="./js/chat.js"></script>
  </body>
</html>