/* referência do grid:
https://www.youtube.com/watch?v=HN1UjzRSdBk&ab_channel=Rocketseat */

/* referência do estilo dos botões: https://codepen.io/angeloalf/pen/gpywvm */
html , body {
  background: #d8e3db;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  display: grid;
  grid-template-areas: 'header header' 'aside main' 'section section';
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20vh 70vh 10vh; /* stylelint-disable */
}

header {
  background: #cfc;
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  background: white;
  grid-area: main;
  width: 1500px;
}

section {
  background: #d8e3db;
  grid-area: section;
}

.title-container {
  align-content: center;
  display: grid;
  justify-content: center;
  margin-top: 50px;
}

.nickname-container {
  margin-left: 10px;
  margin-top: 10px;
}

.nickname-container input {
  border: none;
  padding: 10px;
  width: 60%;
}

.nickname-container button {
  border: 1px solid #25692A;
  border-radius: 4px;
  border-color:#46a7f5;
  background: linear-gradient(to bottom,  #86c6f8 5%, #46a7f5 100%);
  box-shadow:inset 0px 1px 0px 0px #d7ecfd;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  padding: 6px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
  width: 30%;
}

.nickname-container button:hover {
  background: linear-gradient(to bottom, #46a7f5 5%, #86c6f8 100%);
}

.list-container {
  background-color: #f7fff7;
  height: 585px;
}

.list-users {
  list-style: none;
  margin-left: -30px;
  padding-top: 10px;
}

.list-messages {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-messages li {
  padding: 5px 10px;
}

.list-messages li:nth-child( odd ) {
  background: #eee;
  display: grid;
  justify-content: flex-end;
}

.chat-container {
  background: chocolate;
}

.form-container {
  background: #d8e3db;
  margin-top: 35px;
}

.form-container input {
  border: 0;
  margin-right: 0.5%;
  padding: 10px;
  width: 90%;
}

.form-container button {
  border:1px solid #25692A;
  border-radius:4px;
  border-color:#46a7f5;
  background: linear-gradient(to bottom, #86c6f8 5%, #46a7f5 100%);
  box-shadow:inset 0px 1px 0px 0px #d7ecfd;
  border: none;
  color:#fff;
  cursor: pointer;
  font-weight:bold;
  font-size:13px;
  padding: 6px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528009;
  width: 8%;
}

.form-container button:hover {
  background:linear-gradient(to bottom, #46a7f5 5%, #86c6f8 100%);
}
