<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='/socket.io/socket.io.js'></script>
  <link rel="stylesheet" href="http://localhost:3000/assets/style.css">
  <title>Chat Pv</title>
</head>
<body>
  <h1>WebChat</h1>

  <ul id='users'>
  </ul>

  <div>
    <ul id="message">

    </ul>
    <input id="chatInput" data-testid="message-box" type="text">
    <button id="sendBtn" data-testid="send-button">Send</button>
    <input id="nickInput" data-testid="nickname-box" type="text">
    <button id="nickBtn" data-testid="nickname-button">Trocar o NickName</button>
  </div>

  <script> 
  window.onbeforeunload = function(event) {
  socket.disconnect();
};


    const socket = io('http://localhost:3000');

      socket.on('newUser', (id) => {
        console.log(id);
        const newId = id.substring(4);
        socket.emit('newConnect', newId);

      });

      socket.on('newConnect', (users) => {
        const list = document.getElementById('users');
        list.innerHTML = null;
        users.forEach((user) => {
          const li = document.createElement('li')
          const liText = document.createTextNode(user);
          li.appendChild(liText);
          li.setAttribute('data-testid', 'online-user')
          li.setAttribute('id',user)
          list.appendChild(li);
        }); 
      });
  


    let nick = null;
    const sendBtn = document.getElementById('sendBtn');
    sendBtn.addEventListener("click", function() {
      const messageInput = document.getElementById('chatInput');
      const message = messageInput.value;
      socket.emit('message',{chatMessage:message,nickname:nick||socket.id.substring(4)});
});
    socket.on('message', (message) => {
      const li = document.createElement('li');
      const liText = document.createTextNode(message);
      li.appendChild(liText);
      li.setAttribute('data-testid', 'message')
      document.getElementById('message').appendChild(li);
    });


    const nickBtn = document.getElementById('nickBtn');
    nickBtn.addEventListener("click", function() {
      const newNick =  document.getElementById('nickInput').value;
      nick = newNick;
      socket.emit('newNick', {newNick,oldNick:socket.id.substring(4)})
    });

  </script>
  <script src='http://localhost:3000/assets/client.js'></script>
</body>
</html> 