h1 {
  font-size: 0;
}

form {
  display: grid;
  gap: 15px;
  grid-template: 1fr 50px auto 50px;
  grid-template-areas: 'n n' 'm b';
  padding: 25px;
  width: 100%;
}

form i {
  font-size: 22px;
}

form .nickname {
  background: none;
  border: none;
  color: white;
  grid-area: n;
}

form .messageInput {
  border: 1px solid #ccc;
  border-radius: 99px;
  font-size: 16px;
  grid-area: m;
  padding: 0 15px;
}

form button:not( .send ) {
  height: 0;
  width: 0;
}

form .send {
  background: #640eaa;
  border: none;
  border-radius: 50%;
  color: white;
  grid-area: b;
  height: 50px;
  width: 50px;
}
