@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.messagesContainer {
  box-shadow: inset 0 50px 20px -25px #121e47;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  overflow-y: scroll;
  padding-right: 15px;
  scrollbar-color: transparent transparent;
}

.messagesDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}

.message , .author-message {
  animation: fadeIn 0.2s forwards;
  background: #eee;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  margin-right: auto;
  max-width: 450px;
  padding: 15px 20px;
  position: relative;
  text-align: left;
}

.author-name {
  border-radius: 10px;
  color: #24643f;
  display: inline-block;
  font-weight: 500;
  margin-top: 5px;
  padding: 0 5px;
  transform: translateY(-50%);
}

.message p , .author-message p {
  margin: 0;
}

.message .hidden , .author-message .hidden {
  font-size: 0;
}

.message:after {
  border-right: 30px solid transparent;
  border-top: 20px solid #eee;
  bottom: -8px;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}

.time-message {
  background: #24643f;
  border-radius: 5px;
  color: #44ad70;
  font-size: 12px;
  padding: 2px 5px;
  position: absolute;
  top: -10px;
}

.author-message {
  background: #44ad70;
  color: white;
  margin-left: auto;
  margin-right: initial;
  text-align: right;
}

.author-message:before {
  border-left: 30px solid transparent;
  border-top: 20px solid #44ad70;
  bottom: -8px;
  content: '';
  height: 0;
  position: absolute;
  right: 0;
  width: 0;
}
