body {
  align-items: stretch;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  min-width: 500px;
  width: 80%;
}

.first-line {
  align-items: stretch;
  display: flex;
  flex-direction: line;
  justify-content: center;
}

.box {
  align-items: stretch;
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forms {
  align-items: stretch;
  display: flex;
  flex-direction: line;
  justify-content: center;
}
